/**/
/* defaults */
/**/
.modal-gelvisform, .modal-elvischimp{
	  padding: 0 30px 5px;
}
.modal-gelvisform ul, .modal-elvischimp ul{
	list-style: none;
}

.modal-gelvisform .ss-q-title{
	font-size: 2em;
  	margin-bottom: 0.5em;
}

.modal-gelvisform  button, .modal-elvischimp button {
    display: inline-block;
}