/**/
/* defaults */
/**/
.gelvis-form {
	  padding: 0 30px 5px;
}
.gelvis-form ul{
	list-style: none;
}

.gelvis-form .ss-q-title{
	font-size: 2em;
  	margin-bottom: 0.5em;
}

.gelvis-form  button {
    display: inline-block;
}